server:
  resources:
    limits:
      cpu: 100m
      memory: 128Mi
    requests:
      cpu: 50m
      memory: 64Mi
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: traefik-forward-auth@kubernetescrd
      cert-manager.io/cluster-issuer: production
    path: /
    tls:
      - secretName: argocd-cert
  extraArgs:
    - --insecure #This is required otherwise I am getting redirect loops. TODO - do I still need this?
dex:
  enabled: false
configs:
  params:
    application.namespaces: "*"
controller:
  resources:
    limits:
      cpu: 500m
      memory: 512Mi
    requests:
      cpu: 250m
      memory: 256Mi
redis:
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 100m
      memory: 64Mi
applicationSet:
  resources:
     limits:
       cpu: 100m
       memory: 128Mi
     requests:
       cpu: 100m
       memory: 128Mi
notifications:
  resources:
     limits:
       cpu: 100m
       memory: 128Mi
     requests:
       cpu: 100m
       memory: 128Mi
repoServer:
  resources:
    limits:
      cpu: 50m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 64Mi
  extraContainers:
    - name: argocd-sugar
      command: ["/var/run/argocd/argocd-cmp-server"]
      args: ["--loglevel=debug"]
      image: sitilge/argocd-sugar:6ef92120
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      envFrom:
        - secretRef:
            #argocd-sugar is a secret created in day-1 with some variables
            name: argocd-sugar
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        # Starting with v2.4, do NOT mount the same tmp volume as the repo-server container. The filesystem separation helps
        # mitigate path traversal attacks.
        - mountPath: /tmp
          name: cmp-tmp
  volumes:
    - emptyDir: {}
      name: cmp-tmp